@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}
.newsletter-area {
  background-color: #D0E2F2;
  height: 53px;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  justify-content: space-between;
}
.newsletter-area > h4 {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 20px;
  color: #203542;
  padding-top: 8px;
}
.join-newsletter-btn {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #3D647C;
  background-color: #D0E2F2;
  border: 1px solid #3D647C;
  width: 130px;
  height: 40px;
  border-radius: 8px;
}
.join-newsletter-btn:hover {
  cursor: pointer;
}
.banner-placeholder {
  height: 540px;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-title {
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
#how-we-unite {
  color: #5185A6;
  margin-bottom: 25px;
}
.unite-section {
  padding: 30px 0 75px 0;
  background-color: #D0E2F2;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 47px;
  gap: 70px;
}
.service {
width: 229px;
text-align: center;
}
.info-image {
  height: 60px;
  width: 60px;
}
#purpose-img {
  width: 85px;
  height: 57px;
}
.service-title {
  font-family: Source Sans Pro;
  font-size: 24px;
  margin: 16px 0;
}
.service-description {
  font-family: Source Sans Pro;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}
.btn-div {
  display: flex;
  justify-content: center;
}
.section-btn {
  padding: 10px 16px;
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #5185A6;
  border-radius: 8px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.section-btn:hover {
  cursor: pointer;
}
.newsletter-section {
  height: 483px;
  background-color: #d0e2f2;
  padding: 56px 18px 38px 18px;
}
#newsletter-signup {
  color: #535A61;
  margin-bottom: 25px;
}
.newsletter-section > p {
  font-family: Source Sans Pro;
  text-align: left;
  color: #2B4F57;
  font-size: 18px;
  margin-bottom: 23px;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
input {
  border: none;
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 20px;
  padding: 0 7px 0 16px;
  width: 382px;
  height: 75px;
  border-radius: 3px;
  color: #535A61;
}
input:focus {
  outline: none;
}
.subscribe-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  background: #5185A6;
  border-radius: 8px;
  border: none;
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}
.subscribe-btn:hover {
  cursor: pointer;
}
.button-background {
  background-image: url(https://images.unsplash.com/photo-1507823782123-27db7f9fd196?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHJhY29vbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 550px) {
  .newsletter-area {
    justify-content: flex-end;
    padding-right: 155px;
  }
  .newsletter-area > h4 {
    font-size: 24px;
    padding-right: 65px;
    padding-top: 0;
  }
  .banner-placeholder {
    min-height: 770px;
    height: 50vh;
    max-height: 1500px;
  }
  #how-we-unite {
    color: #5185A6;
    margin-bottom: 50px;
  }
  .unite-section {
    height: 591.5px;
    padding: 60px 120px 0 120px;
  }
  .services {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 47px;
  }
  .service {
  width: 229px;
  text-align: center;
  }
  .info-image {
    height: 60px;
    width: 60px;
  }
  #purpose-img {
    width: 85px;
    height: 57px;
  }
  .service-title {
    font-family: Source Sans Pro;
    font-size: 24px;
    margin: 16px 0;
  }
  .service-description {
    font-family: Source Sans Pro;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
  }
  .newsletter-section {
    height: 396px;
    padding: 56px 0 103px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #newsletter-signup {
    color: #535A61;
    margin-bottom: 25px;
  }
  .newsletter-section > p {
    font-family: Source Sans Pro;
    text-align: center;
    color: #2B4F57;
    margin-bottom: 70px;
  }
  form {
    width: 584px;
    height: 75px;
    border-radius: 3px;
    background-color: #fff ;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 0;
  }
  .name-input{
    width: 172px;
  }
  .email-input {
    width: 242px;
  }
  .inputs-divider {
    width: 1px;
    height: 48px;
    background-color: #535A61;
  }
  .subscribe-btn {
    margin-left: 25px;
  }
}
