footer {
  height: 313px;
  background-color: #3D647C;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-main-content {
  display: flex;
  min-width: 880px;
  width: 60%;
  justify-content: space-between;
}
.mission {
  width: 378px;
  padding-top: 48px;
}
.mission > h6 {
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  padding-bottom: 16px;
}
.mission > p {
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.footer-nav {
  width: 360px;
  padding-top: 56px;
  display: flex;
  justify-content: space-between;
}
.footer-link {
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.footer-bottom {
  min-width: 1200px;
  width: 86%;
}
.footer-divider {
  width: 100%;
  height: 6px;
  background-color: #fff;
  border-radius: 2px;
  margin-top: 90px;
}
.bottom-links-container {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
.policy-group {
  min-width: 371px;
  width: 26%;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  padding-left: 10px;
}
.icon-group {
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-link {
  font-family: Source Sans Pro;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.facebook {
  width: 11px;
  height: 20px;
}
.twitter {
  width: 22px;
  height: 17.94px;
}
.instagram {
  width: 20px;
  height: 20px;
}