body {
  margin: 0;
  min-width: 414px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 550px) {
  body {
    min-width: 1440px;
  }
}
